In [ ]:
1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [25]:
import pandas as pd
series= (4, 8, 15, 16, 23, 42)
print(pd.Series(series))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
2. Create a variable of list type containing 10 elements in it, and apply pandas Series function on the
variable print it.

In [13]:
import pandas as p
var=[21,23,43,65,76,89,72,59,90,110]
lt = p.Series(var)
print(lt)

0     21
1     23
2     43
3     65
4     76
5     89
6     72
7     59
8     90
9    110
dtype: int64

In [ ]:
3. Create a Pandas DataFrame that contains the following data:
Name       Age        Gender
Alice      25         Female
Bob        30         Male
Claire     27         Female

Then, print the DataFrame.

In [40]:
import pandas as pd
data = [['Alice', 25, 'Female'],['Bob', 30, 'Male'],['Claire', 27, 'Female']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
4. What is ‘DataFrame’ in pandas and how is it different from pandas series? Explain with an example.

A Pandas DataFrame is a two-dimensional labeled data structure with columns that can be of different types,
much like a spreadsheet or SQL table, or a dictionary of Series objects. This makes it an extremely flexible 
data structure, capable of handling both homogenous and heterogeneous data.

A DataFrame is essentially a collection of Series that share a common index. The data in the DataFrame is 
stored in memory as one or more two-dimensional blocks, rather than a list, dict, or some other collection
of one-dimensional arrays.
Example: 
import pandas as pd
data = [['Alice', 25, 'Female'],['Bob', 30, 'Male'],['Claire', 27, 'Female']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])
print(df)

Output:
    Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Series is a type of list in Pandas that can take integer values, string values, double values, and more. 
But in Pandas Series we return an object in the form of a list, having an index starting from 0 to n, 
Where n is the length of values in the series. 
Example:
import pandas as pd
series= (4, 8, 15, 16, 23, 42)
print(pd.Series(series))

Output:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some of the most used Pandas functions for data analysis include:

read_csv(): Load data from a CSV file
fillna(): Replace missing values in a DataFrame
mean(): Calculate the mean of a Series or DataFrame
std(): Calculate the standard deviation of a Series or DataFrame
describe(): Calculate summary statistics for a Series or DataFrame
plot(): Plot a Series or DataFrame

Example:

In [ ]:
import pandas as pd
data_frame = pd.read_csv("services.csv")

In [ ]:
6. Which of the following is mutable in nature Series, DataFrame, Panel?

Out of the three Pandas data structures, Series is the only one that is immutable in nature.
Both DataFrames and Panels are mutable in nature.
Mutability in Python refers to the ability of an object to change its value. An immutable object cannot
change its value once it is created, while a mutable object can.

Here are a few examples of how DataFrames and Panels can be mutated:

Adding a new column to a DataFrame
Removing a column from a DataFrame
Changing the value of a cell in a DataFrame
Adding a new slice to a Panel
Removing a slice from a Panel
Changing the value of a cell in a Panel

Series, on the other hand, cannot be mutated in the same way. For example, we cannot add a new column to
a Series, remove a column from a Series, or change the value of a cell in a Series.
We can, however, change the values of the elements in a Series. For example, we can use the iloc or loc 
attribute to access a specific element in a Series and then change its value.

In [ ]:
7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

s1 = ['Shikha','Khushi','Sunil','Raj']
name = (pd.Series(s1))

s2= [26,28,29,27]
age= (pd.Series(s2))

s3= ['Female','Female','Male','Male']
gender =(pd.Series(s3))

s4=['Data Science','Java','Biotech','C++']
subject =(pd.Series(s4)) 

s5=['UP','UK','RJ','PB']
place = (pd.Series(s5))

frame ={'Name':name, 'Age':age, 'Gender':gender,'Subject':subject,'State':place}

df= pd.DataFrame(frame)

print(df)

     Name  Age  Gender       Subject State
0  Shikha   26  Female  Data Science    UP
1  Khushi   28  Female          Java    UK
2   Sunil   29    Male       Biotech    RJ
3     Raj   27    Male           C++    PB